* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "JetBrains Mono", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	padding: 20px;
	height: 10vh;
	background-color: #ffffff;
	z-index: 10;
}

.header__title {
	color: #413e3e;
	cursor: pointer;
	transition: 0.3s all;
}

.header__title:hover {
	color: black;
}

.form__container {
	position: relative;
}

.form {
	position: relative;
}

.form__button-search {
	position: absolute;
	top: 11px;
	left: 15px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.form__button-search:hover .button-search__stroke {
	stroke: black;
	transition: all 0.5s;
}

.form__input {
	padding: 10px 45px;
	width: 350px;
	background-color: #EEEEEE;
	border-radius: 25px;
	border: 1px solid #EEEEEE;
	outline: none;
	transition: all 0.3s;
	font-size: 18px;
	font-family: "JetBrains Mono", sans-serif;
}

.form__input:focus {
	background-color: #ffffff;
	border: 1px solid #dbd6d6;
}

.form__input:hover {
	border: 1px solid #dbd6d6;
}

.form__button-cross {
	position: absolute;
	top: 11px;
	right: 15px;
	width: 24px;
	height: 24px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	opacity: 0;
	transition: 0.3s all;
}

.form__cross-fill {
	fill: gray;
}

.form__button-cross:hover .form__cross-fill {
	fill: black;
}

.form__button-cross:hover {
	transform: rotate(90deg);
}

.button--active {
	opacity: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 0 auto;
	max-width: 1440px;
	min-height: 80vh;
	width: 100%;
	height: 100%;
	padding: 30px 60px;
	background-color: #EEEEEE;
}

.images-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.image-card {
	width: calc((100% - 40px) / 3);
	overflow: hidden;
	border-radius: 10px;
}

.image__cover {
	position: relative;
	height: 300px;
	cursor: zoom-in;
}

.image-card__photo {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: 0.5s all;
}

.image-card:hover .image-card__photo {
	transition: 0.5s all;
	transform: scale(1.2);
}


.image__title {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	opacity: 0;
	transition: all 0.3s;
	z-index: 20;
	/* pointer-events: none; */
}

.image__likes {
	display: flex;
	align-items: center;
	gap: 10px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	color: white;
	opacity: 0;
	transition: 0.3s all;
	z-index: 20;
	/* pointer-events: none; */
}

.image__cover:hover .image__title, 
.image__cover:hover .image__likes {
	opacity: 1;
}

.image__cover--dark {
	position: absolute;
	background-color: black;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s;
	border-radius: 10px;
}

.image__cover--dark:hover {
	opacity: 0.2;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	height: 10vh;
	background-color: #ffffff;
	font-size: 22px;
}

.footer__text, .footer__link {
	font-weight: bold;
	color: #413e3e;
}

.footer__link {
	text-decoration: none;
	transition: 0.3s all;
}

.footer__link:hover {
	transform: scale(1.1);
}

.button {
	fill: #413e3e;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(41, 41, 41, 0.7);
	visibility: hidden;
	opacity: 0;
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}

.modal--show {
	visibility: visible;
	opacity: 1;
	transform: none;
}

.modal__card {
	max-width: 700px;
	width: 100%;
	max-height: 550px;
	height: 100%;
	position: relative;
}

.modal__img-backdrop {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.modal__button-cross {
	position: absolute;
	top: 25px;
	right: 25px;
	background-color: transparent;
	border: none;
	width: 24px;
	height: 24px;
	transition: 0.3s all;
	cursor: pointer;
}

.image__title-modal, .image__likes-modal {
	opacity: 1;
}

.modal__cross-fill {
	fill: #ffffff;
}

.modal__button-cross:hover {
	transform: rotate(90deg)
}

.load-more__btn {
	margin: 0 auto;
	padding: 8px;
	background-color: #ffffff;
	border: 1px solid #EEEEEE;
	border-radius: 10px;
	outline: none;
	font-family: "JetBrains Mono", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #413e3e;
	width: 120px;
	transition: 0.3s all;
	cursor: pointer;
}

.load-more__btn:hover {
	border: 1px solid #dbd6d6;
	background-color: #ddd8d8;
}

.disabled {
	opacity: 0.6;
	pointer-events: none;
}

.modal__image-info {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10%;
	border-radius: 10px;
	z-index: 10;
}

.modal__image-info:hover {
	text-shadow: 0 0 3px black;
}

.stop--scrolling {
	height: 100%;
	overflow: hidden;
}

@media (max-width: 1044px) {
	.image-card {
		width: calc((100% - 40px) / 2);
	}
	.modal__card {
		max-width: 600px;
		max-height: 450px;
	}
}

@media (max-width: 880px) {
	.modal__card {
		max-width: 550px;
		max-height: 400px;
	}
	.wrapper {
		padding: 30px 40px;
	}
}

@media (max-width: 750px) {
	.modal__card {
		max-width: 500px;
		max-height: 380px;
	}
	.wrapper {
		padding: 30px 30px;
	}
}

@media (max-width: 698px) {
	.header__title {
		font-size: 26px;
	}

	.form__input {
		width: 300px;
	}
}

@media (max-width: 620px) {
	.image-card {
		width: calc((100% - 40px) / 1);
	}
	.image__cover {
		height: 300px;
	}
	.modal__card {
		max-width: 500px;
		max-height: 400px;
	}
	.header__title {
		font-size: 22px;
	}

	.form__input {
		width: 250px;
	}

	.wrapper {
		padding: 30px 50px;
	}
}

@media (max-width: 540px) {
	.modal__card {
		max-width: 400px;
		max-height: 330px;
	}

	.header__title {
		font-size: 18px;
	}

	.form__input {
		width: 220px;
		font-size: 13px;
	}

	.form__button-cross {
		top: 9px;
	}
	.form__button-search {
		top: 9px;
	}
}

@media (max-width: 470px) {
	.wrapper {
		padding: 30px 20px;
	}
	.footer__text {
		font-size: 18px;
	}
	.footer__link {
		font-size: 18px;
	}
}

@media (max-width: 410px) {
	.modal__card {
		max-width: 330px;
		max-height: 350px;
	}
	.header__title {
		font-size: 14px;
	}

	.form__input {
		width: 180px;
		font-size: 12px;
	}

	.form__button-cross {
		top: 7px;
	}
	.form__button-search {
		top: 7px;
	}
	.wrapper {
		padding: 30px 10px;
	}
}

@media (max-width: 350px) {
	.modal__card {
		max-width: 270px;
		max-height: 300px;
	}

	.image__cover {
		height: 250px;
	}
	.header {
		padding: 20px 10px;
	}
	.footer-wrapper {
		padding: 20px 10px;
	}

	.footer__text {
		font-size: 14px;
	}
	.footer__link {
		font-size: 14px;
	}
}

@media(max-width: 280px) {
	.modal__card {
		max-width: 220px;
		max-height: 270px;
	}
}