* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	max-width: 1440px;
	margin: 0 auto;
}

.header {
	background-color: #0C0C0E;
}

.wrapper {
	position: relative;
	justify-content: space-between;
	display: flex;
	max-width: 100%;
}

.header__wrapper {
	padding: 20px;
}

.nav-box {
	display: flex;
	align-items: center;
}

.logo-box {
	margin: 0;
	font-family: "Forum", serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 0.6px;
	color: #ffffff;
}

.nav-list {
	display: inline-flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0;
	margin-right: 40px;
	gap: 30px;
	font-family: "Inter", sans-serif;
	list-style-type: none;
}

.nav-link {
	position: relative;
	font-size: 20px;
	line-height: 50px;
	text-decoration: none;
	color: #ffffff;
}

.nav-link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -5px;
	left: 0;
	background-color: #ffffff;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in;
}

.nav-link:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.profile-button {
	padding: 0;
	max-height: 28px;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.2s;
}

.profile-button:hover {
	transform: scale(1.2);
}

.header__burger {
	display: none;
	position: relative;
	width: 45px;
	height: 20px;
	padding: 0;
	border: none;
	margin: 15px 0 15px 40px;
	cursor: pointer;
	background-color: transparent;
	color: #ffffff;
}

.burger__line {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ffffff;
	transition: 0.3s all linear;
}

.burger__line_first {
	top: -2px;
}

.burger__line_second, 
.burger__line_third {
	top: 50%;
	transform: translateY(-100%);
}

.burger__line_fourth {
	bottom: 0;
}

.burger_active .burger__line_first, 
.burger_active .burger__line_fourth {
	opacity: 0;
}

.burger_active .burger__line_second {
	transform: translateY(-100%) rotate(45deg);
}

.burger_active .burger__line_third {
	transform: translateY(-100%) rotate(-45deg);
}

.header__auth {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}

.profile__menu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5px;
	width: 80px;
	height: 115px;
	background-color: #ffffff;
	transition: all 0.4s;
}

.profile__menu--active {
	visibility: visible;
	opacity: 1;
	transition: all 0.4s;
}

.profile__menu_title {
	position: relative;
	margin: 0;
	color: #000;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 20px;
}

.profile__menu_title::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 1px;
	background-color: #bb945f;
	bottom: -5px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.profile__menu_link {
	text-decoration: none;
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	/* 133.333% */
}

.profile__menu_link:first-of-type {
	margin-bottom: 10px;
}

.welcome {
	width: 100%;
	height: 600px;
	background-image: url(assets/img/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 300px;
	background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 35px 40px;
	margin: 220px 840px 160px 0;
	min-width: 600px;
	background-color: #0C0C0E;
	font-family: 'Forum', serif;
}

.main-title {
	margin: 0;
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 3px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	z-index: 1;
}

.section {
	margin: 0 auto;
	max-width: 100%;
}

.section-title {
	position: relative;
	margin-top: 20px;
	font-family: "Forum", serif;
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: capitalize;
	color: #0C0C0E;
}

.section-title::after {
	content: '';
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 50px;
	height: 1px;
	background-color: #0C0C0E;
}

.section-text {
	margin: 60px 20px 20px 20px;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	line-height: 40px;
	color: #000000;
}

.section-photo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	margin-bottom: 35px;
	width: 100%;
	padding: 0 20px;
}

.slider {
	overflow: hidden;
}

.carousel {
	display: flex;
	justify-content: space-between;
	gap: 25px;
	width: 100%;
	object-fit: cover;
	white-space: nowrap;
	transition: all ease 0.7s;
}

.image-item {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.slider-image {
	width: 32.15%;
	max-width: 450px;
	aspect-ratio: 450/560;
}

.button-arrow {
	display: none;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.pagination {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}

.control {
	display: flex;
	width: 26px;
	height: 26px;
	align-items: center;
	cursor: pointer;
}

.circle {
	display: block;
	margin: 0 auto;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #0c0c0e;
	cursor: pointer;
	border: none;
	transition: all 0.3s;
}

.circle:disabled {
	cursor: auto;
}

.disabled-button {
	pointer-events: none;
	opacity: 1;
}

.button-arrow:disabled {
	opacity: 0.3;
	pointer-events: none;
}

.active-circle {
	background-color: #bb945f;
}

.hidden-circle {
	display: none;
}

.favorites-title {
	margin-top: 15px;
}

.paragraph-favorites {
	margin-left: 20px;
	margin-top: 61px;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	color: #000;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.favorites-choice {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 20px;
	padding-left: 20px;
}

.favorites-label {
	min-width: 130px;
	margin-right: 62px;
}

.favorites-label:last-child {
	margin-right: 0;
	min-width: 115px;
}

.favorites-label:nth-child(3) {
	margin-right: 74px;
}

.favorites-text {
	padding: 5px;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	color: #000000;
	cursor: pointer;
}

.custom-radio {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 11.7px;
	padding: 5px;
	border: 2px solid #000000;
	border-radius: 50%;
	vertical-align: text-top;
	cursor: pointer;
}

.custom-radio::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	display: inline-block;
	width: 7.5px;
	height: 7.5px;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 0.2s ease-in;
	background-color: black;
}

.favorites-radio:checked + .custom-radio::before {
	transform: translate(-50%, -50%) scale(1);
}

.favorites-radio:checked ~ .favorites-text {
	font-weight: bold;
}

.favorites-radio {
	width: 0;
	height: 0;
	position: absolute;
	opacity: 0;
}

.books-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 40px;
	padding: 40px 20px 40px 20px;
	width: 100%;
	box-sizing: border-box;
}

.tabs__caption {
	transition: 0.2s all;
}

.tabs__caption:hover {
	transform: scale(1.1);
}

.tabs__caption_active {
	opacity: 1;
}

.tabs__content {
	display: none;
	opacity: 0;
	animation: showContent 1.5s forwards;
}

.tabs__content_active {
	display: flex;
}

@keyframes showContent {
	0% {
		transform: scaleY(0.98);
		opacity: 0;
	}

	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}

.first-book {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-right: 40px;
	padding: 15px 0 15px 20px;
	max-width: 550px;
	height: 555px;
	border: 1px solid black;
}

.book-title {
	position: relative;
	margin: 0;
	font-family: "Forum", serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; 
	letter-spacing: 2px;
	text-transform: capitalize;
	color: #000000;
}

.book-title::before {
	content: '';
	position: absolute;
	top: 40px;
	width: 60px;
	height: 1px;
	background-color: #BB945F;
}

.book-name {
	margin: 20px 0;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000000;
}

.book-author {
	text-transform: capitalize;
}

.book-description {
	margin: 0 172.5px 0 0;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.button-buy {
	width: 75px;
	height: 30px;
	margin-top: auto;
	border: 1px solid #000000;
	border-radius: 2px;
	margin-top: auto;
	background-color: #ffffff;
	transition: 0.2s ease-in;
	cursor: pointer;
}

.button-buy:hover {
	background-color: #BB945F;
	border: 1px solid #BB945F;
}

.text-button {
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 1px;
	color: #0C0C0E;
	line-height: normal;
}

.image-book {
	position: absolute;
	display: block;
	top: 255px;
	left: 390px;
}

.second-book {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 15px 0 15px 20px;
	margin-right: 40px;
	max-width: 550px;
	height: 555px;
	border: 1px solid black;
}

.second-book .button-buy {
	margin-top: auto;
}

.third-book {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 15px 0px 15px 20px;
	margin-right: 40px;
	border: 1px solid black;
	max-width: 550px;
	height: 555px;
}

.fourth-book {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 15px 0px 15px 20px;
	border: 1px solid black;
	margin-right: 40px;
	max-width: 550px;
	height: 555px;
}

.button-own {
	width: 75px;
	height: 30px;
	margin-top: auto;
	border: 1px solid #BB945F;
	border-radius: 2px;
	background-color: #ffffff;
}

.text-own {
	font-family: "Inter";
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
	color: #BB945F;
}

.coffee-text {
	margin: 61px 20px 40px 20px;
	letter-spacing: 2px;
}

.container-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 20px 40px 20px;
}

.coffee-and-tea-menu {
	width: 438px;
}

.deserts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 482px;
}

.menu-head {
	margin-top: 0;
	font-family: "Forum", serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 100% */
	letter-spacing: 2px;
	text-transform: capitalize;
	color: #BB945F;
}

.price-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	margin: 0;
	gap: 40px;
	list-style-type: none;
}

.menu-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 58.3px;
}

.menu-item-name {
	width: 205px;
	text-align: left;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize;
	color: #000000;
}

.menu-item-price {
	font-family: "Forum", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize;
	color: #000000;
}

.menu-line {
	width: 100px;
	height: 1px;
	background-color: #BB945F;
}

.deserts .menu-item-name {
	text-align: right;
	width: 212px;
}

.contacts-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 61px 20px 0px 20px;
	padding-bottom: 40px;
}

.contacts-title {
	margin: 0px 0px 40px 0px;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize;
}

.contacts-paragraph {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize;
}

.contacts-title-margin {
	margin-top: 40px;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize;
}

.contacts-tel {
	text-decoration: none;
	color: #000000;
	transition: 0.2s ease;
}

.contacts-tel:hover, .contacts-email:hover, .footer-link:hover {
	color: #BB945F;
}

.contacts-email {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	transition: 0.2s ease;
}

.library-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 20px 41px 20px;
}

.card-title {
	font-family: "Inter", sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: center;
}

.card-body {
	width: 600px;
	padding: 17.33px 17.33px 27.33px 17.33px;
	border: 3px solid #BB945F;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gold-bg {
	width: 100%;
	padding: 20px 20px 0px 20px;
	background-color: #BB945F;
}

.title-gold-bg {
	margin: 0px 0px 20px 0px;
	font-family: "Forum", serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 166.667% */
	letter-spacing: 0.6px;
}

.reader-name-input {
	width: 100%;
	height: 66px;
	margin-bottom: 25px;
	padding: 0 0 2px 20px;
	border-radius: 10px;
	font-size: 30px;
	outline-style: none;
	border: none;
}

.reader-name-input::placeholder {
	font-family: "Forum", serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 166.667% */
	letter-spacing: 0.6px;
	color: #8E8E8E;
}

.button-check {
	width: 242px;
	height: 44px;
	margin: 18.7px 158px 0px 159px;
	padding: 10px 35px;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 2px;
	cursor: pointer;
	background-color: #ffffff;
	transition: 0.2s ease-in;
}

.button-check:hover {
	background-color: #BB945F;
	border: 1px solid #BB945F;
}

.button-check-text {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
}

.get-card-title {
	margin-bottom: 35px;
	font-family: "Forum", serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.6px;
}

.text-card {
	font-family: "Inter", sans-serif;
	margin-bottom: 35px;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 0.4px;
}

.buttons-get-card {
	display: flex;
	gap: 20px;
	justify-content: right;
}

.button-get-card {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 30px;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 2px;
	background-color: #ffffff;
	cursor: pointer;
	transition: 0.2s ease-in;
}

.button-get-card:hover {
	background-color: #BB945F;
	border: 1px solid #BB945F;
}

.button-get-card:last-child {
	margin-right: 0;
}

.button-get-text {
	font-family: "Inter", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
}

.text-right {
	width: 456px;
	text-align: right;
}

.footer {
	max-width: 1440px;
	height: 250px;
	padding: 19px 20px 0px;
	background-color: #0C0C0E;
}

.footer-frame {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: #ffffff;
}

.footer-text {
	margin: 0px 0px 8px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 133.333% */
	text-decoration: none;
	color: #ffffff;
	transition: 0.2s ease;
}

.footer-text-right {
	text-align: right;
}

.social {
	display: flex;
	gap: 15px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.social-link svg {
	transition: all 0.1s;
}

.social-link:hover svg {
  transform: scale(1.2);
}

.center-frame {
	align-items: center;
	margin-bottom: 23px;
}

.footer-rss {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 22px;
	margin-top: 44.3px;
	margin-bottom: 44px;
}

.footer-number {
	font-family: "Inter", sans-serif;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 100% */
	letter-spacing: 2px;
	color: #ffffff;
}

.footer-logo {
	font-family: "Inter", sans-serif;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 100% */
	letter-spacing: 2px;
	text-decoration: none;
	color: #ffffff;
	transition: 0.3s ease;
}

.footer-username {
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-decoration: none;
	color: #ffffff;
	transition: 0.3s ease;
}

.auth {
	position: relative;
	padding: 20px 25px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 250px;
	margin: 0 auto;
	background-color: #ffffff;
}

.modal__title {
	margin: 0;
	color: #000;
	text-align: center;
	font-family: Forum;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	/* 100% */
	letter-spacing: 0.4px;
	text-transform: uppercase;
}

.modal__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	list-style-type: none;
	padding: 0;
	margin-bottom: 20px;
}

.modal__item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modal__label {
	color: #000;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	/* 133.333% */
	letter-spacing: 0.3px;
}

.modal__input {
	border: 1px solid #BB945F;
	outline: none;
	transition: all 0.6s;
}

.modal__label:hover~.modal__input {
	box-shadow: 0 0 5px #a8a6a6;
}

.modal__input:focus {
	background-color: rgba(205, 184, 151, 0.3);
	box-shadow: 0 0 2px #a8a6a6;
}

.modal__button {
	width: 75px;
	height: 30px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	border: 1px solid #0C0C0E;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
	margin-bottom: 10px;
	transition: all 0.2s;
	cursor: pointer;
}

.modal__button:hover {
	background-color: #BB945F;
	border: 1px solid #BB945F;
}

.auth__modal_text {
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.modal__link {
	margin-left: 10px;
	color: #0C0C0E;
	text-align: center;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration-line: underline;
	cursor: pointer;
	transition: all 0.3s;
}

.modal__link:hover {
	color: #bb945f;
}

.modal__close_btn {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: 0.2s;
}

.modal__close_btn:hover {
	transform: scale(1.2);
}

.close_btn {
	width: 15px;
	height: 15px;
}

.profile {
	position: relative;
	max-width: 600px;
	width: 100%;
	display: flex;
	margin: 0 auto;
}

.profile__modal_left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 170px;
	width: 100%;
	background-color:#0C0C0E;;
}

.profile__modal_init {
	padding: 30px 27px;
	margin-bottom: 15px;
	background-color: #ffffff;
	color: #BB945F;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 100% */
	text-transform: capitalize;
}

.profile__modal_name {
	padding: 5px 15px;
	background-color: #ffffff;
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 100% */
	text-transform: capitalize;
}

.profile__modal_right {
	display: flex;
	flex-direction: column;
	padding: 40px 20px;
	width: 100%;
	background-color: #ffffff;
}

.profile__modal_title {
	margin: 0 0 40px;
	color: #000;
	font-family: Forum;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 50% */
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

.profile__modal_list {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 20px;
}

.profile__modal_item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin-bottom: 20px;
}

.profile__modal_list-name {
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 100% */
	letter-spacing: 0.4px;
	text-transform: capitalize;
}

.profile__modal_svg {
	width: 20px;
	height: 21px;
}

.profile__modal_list-number {
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 200% */
	letter-spacing: 0.2px;
	text-transform: capitalize;
}

.strong__title {
	color: #0C0C0E;
	font-family: Inter;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 80% */
}

.item__list_book {
	color: #000;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 100% */
	letter-spacing: 2px;
	text-transform: capitalize;
}

.item__list_book:first-of-type {
	margin-bottom: 10px;
}

.item__list_book:last-of-type {
	margin-bottom: 40px;
}

.profile__modal_card-number {
	display: flex;
	align-items: center;
	color: #0C0C0E;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.profile__modal_card-numb {
	display: flex;
	max-width: 140px;
	padding: 0 0 0 15px;
	border: none;
	background-color: transparent;
	outline: none;
	color: #BB945F;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 100% */
	cursor: pointer;
}

.profile__modal_card-number label {
	display: flex;
	align-items: center;
}

.profile__modal_card-number label img {
	width: 13px;
	height: 12px;
}

.profile__close_btn {
	top: 25px;
	right: 25px
}

.buy-card_content {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

.buy-card_main-content {
	display: flex;
	gap: 40px;
	padding: 30px 40px 40px;
	background-color: #ffffff;
}

.buy-card_header {
	padding: 20px 0;
	background-color: #0C0C0E;
}

.buy-card-title {
	margin: 0;
	color: #FFF;
	text-align: center;
	font-family: Forum;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 50% */
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

.buy-card-text {
	color: #8E8E8E;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 133.333% */
	letter-spacing: 2px;
}

.expiration-code {
	display: flex;
	gap: 10px;
}

.size-crop {
	max-width: 45px;
}

.button-buy-modal {
	margin-bottom: 0;
}

.buy-card-price {
	display: flex;
	gap: 25px;
	align-items: center;
}

.price-card {
	color: #0C0C0E;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; /* 100% */
	letter-spacing: 2px;
	text-transform: uppercase;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 200;
	background-color: rgba(41, 41, 41, 0.5);
	visibility: hidden;
	opacity: 0;
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
}

.modal--active {
	visibility: visible;
	opacity: 1;
	transform: none;
}

@media (max-width: 1024px) {
	.carousel {
		gap: 25px;
		padding: 0 10px;
	}

	.slider {
		width: 96%;
		margin: 0 auto;
	}

	.slider-image {
		width: 50%;
	}

	.control:nth-of-type(4) {
		display: flex;
	}
}

@media (max-width: 1240px) {
	.map-image {
		margin: 80px auto 0;
	}
}

@media (max-width: 1220px) {
	.books-block {
		justify-content: center;
	}

	.favorites-choice {
		justify-content: center;
	}
}

@media (max-width: 1100px) {

	.nav-list {
		position: absolute;
		display: none;
		right: 0;
		top: 90px;
		margin: 0;
		padding-top: 11px;
		padding-left: 12px;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		width: 332px;
		height: 480px;
		background-color: #0C0C0E;
		z-index: 150;
	}

	.nav_start {
		animation: burger-close 0.4s ease-in-out;
		transition: 0.4s ease-in-out;
	}

	.nav-list_active {
		display: flex;
		transition: 0.4s ease-in-out;
		animation: burger-open 0.4s ease-in-out;
	}

	@keyframes burger-open {
		0% {
			transform: translateX(100%);
		}

		100% {
			transform: translateX(0);
		}
	}

	@keyframes burger-close {
		0% {
			display: flex;
			transform: translateX(0);
		}

		100% {
			display: none;
			transform: translateX(100%);
		}
	}

	.header__burger {
		display: block;
	}

	.library-card {
		justify-content: center;
	}

	.text-right {
		width: 600px;
		text-align: center;
		margin: 0 auto;
	}

	.get-card-title {
		margin: 21px 0 40px 0;
	}

	.text-card {
		text-align: center;
		margin-bottom: 40px;
	}

	.nav-link:hover::before {
		transform: scaleX(0);
	}

	.buttons-get-card {
		justify-content: center;
	}
}

@media (max-width: 959.5px) {
	.deserts {
		margin-top: 40px;
		margin-left: auto;
	}
}

@media (max-width: 768px) {
	.welcome {
		background: url(assets/img/bg-2.jpg);
	}

	.section-photo {
		justify-content: center;
		margin-bottom: 20px;
	}

	.slider {
		width: 67.3%;
		margin: 0;
	}

	.carousel {
		width: 100%;
		padding: 0 20px;
		gap: 25px;
	}

	.slider-image {
		width: 100%;
	}

	.favorites-choice {
		position: sticky;
		top: 0;
		z-index: 10;
		background-color: rgba(225, 209, 186, 0.6);
		border-radius: 10px;
		width: 100%;
		justify-content: flex-start;
		padding-top: 0;
		height: 44px;
	}

	.control:nth-of-type(5) {
		display: flex;
	}

	.prev {
		margin-right: 38px;
	}

	.next {
		margin-left: 38px;
	}

	.button-arrow {
		display: flex;
		align-items: center;
	}

	.arrow {
		margin-top: 22px;
	}
}